@import '_variables.scss';

@keyframes fadeInFromBottom {
  from {
    bottom: -50px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    border-right: $typer-ibeam-width solid $primary-white;
  }

  50% {
    border-right: $typer-ibeam-width none;
  }

  100% {
    border-right: $typer-ibeam-width solid $primary-white;
  }
}