#about {
  margin-top: -3px;
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #f2f2f2;
  z-index: 1;
  position: relative;

  .technologies-container {
    li {
      width: 60px;
      height: 50px;
      margin: 10px 3% 40px 0;
      font-size: 0.7em;
      display: inline-block;

      img {
        width: 100%;
        height: 60px;
        margin: 10px auto 0 auto;
        display: block;
        position: relative;
      }
    }
  }
}