#contact {
  width: 100%;
  padding-bottom: 200px;
  background-color: #f2f2f2;
  z-index: 3;
  position: relative;

  li {
    margin-right: 30px;
    display: inline-block;

    &:last-child,
    &:only-child {
      margin: 0;
    }

    img {
      top: 2px;
      right: 5px;
      width: auto;
      height: 15px;
      position: relative;
    }
  }
}

.copyright {
  width: 100%;
  bottom: 0px;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  position: absolute;
}