@import '_variables.scss';
@import '_animations.scss';

#hero { /* Fade content in from below & fix large empty space, add pic of self & add down arrow to guide user to scroll down (after a few seconds.) */
  height: 980px;
  width: 100%;
  background-color: #7e29f8; /* IE9 and below. */
  background-image: linear-gradient(25deg, #7e29f8, #7b72f9, #68a7fa, #24daf9);
  z-index: 0;
  overflow: hidden;
  display: inline-block;
  position: relative;

  .content {
    width: 45%;
    top: 40%;
    left: 50%;
    font-family: 'Hind';
    transform: translate(-50%, -50%);
    position: relative;
  }

  p {
    font-size: 22px;
    color: $primary-white;
    animation-name: fadeInFromBottom;
    animation-duration: 2s;
    animation-iteration-count: 1;
    position: relative;
  }

  video {
    top: 0;
    min-width: 100%;
    height: auto;
    z-index: -3;
    opacity: 0.8;
    position: absolute;
  }

  .typing-container {
    width: 100%;
    word-wrap: break-word;
    transition-duration: 1s;
    position: absolute;

    .typing {
      width: 60px;
      font-size: 60px;
      color: $primary-white;
      line-height: 0.7;
      animation: blink 0.8s linear infinite;
      transition-duration: 1s;
    }

    .idle {
      border-right: $typer-ibeam-width solid $primary-white;
      animation: none;
    }
  }

  .ellipse-intersection {
    bottom: 0;
    width: 100%;
    position: absolute;
  }
}