body {
  width: 100%;
  background-color: #f2f2f2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h2 {
  font-family: 'Open Sans';
  font-size: 2.5em;
  color: #000;
  text-align: center;
}

h3 {
  margin-bottom: 30px;
  font-family: 'Open Sans';
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.8);
}

p {
  font-family: 'Open Sans';
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.6;
}

li {
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.6);
}

nav li {
  color: #fff;
}

a {
  color: inherit;
}

nav a,
.description a {
  text-decoration: none;
}

.section {
  width: 100%;
  position: relative;
}

.text-section {
  width: 50%;
  padding: 0 25%;
  text-align: center;
}

.image-section {
  width: 90%;
  padding: 0 5%;
}

.separator {
  height: 3px;
  width: 50px;
  margin: 5px auto 20px auto;
  border-radius: 50px;
  background-image: linear-gradient(25deg, #7e29f8, #7b72f9, #68a7fa, #24daf9);
  background-attachment: fixed;
  transition-duration: 0.8s;
  position: relative;
}

.diagonal-intersection {
  width: 100%;
  height: 150px;
  bottom: -110px;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.3);
  z-index: 0;
  position: absolute;
}

.rotate-left {
  left: -3px;
  transform: rotate(1deg);
  background-color: rgb(240, 240, 240);
}

.rotate-right {
  right: -3px;
  transform: rotate(-1deg);
  background-color: #f2f2f2;
}

.italic {
  font-style: italic;
}

::selection {
  background: rgba(0, 0, 0, 0.4);
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.4);
}