nav {
  width: 100%;
  height: 300px;
  max-height: 10px;
  padding: 20px 5% 0 5%;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  z-index: 1;
  display: table;
  position: absolute;
}

.list-left, .list-right {
  display: table-cell; /* IE8 vertical center. */
  vertical-align: middle; /* IE8 vertical center. */
  color: #f2f2f2;

  & li:hover {
    color: #fff;
    transition-duration: 0.3s;
  }

  li {
    font-family: "Open Sans";
    font-size: 1.1em;
  }
}

.list-left {
  width: 90%;

  li {
    margin-right: 50px;
    float: left;
  }

  li:last-child,
  li:only-child {
    margin: 0;
  }
}

.list-right { /* Arrow animation? Fill up with background? */
  width: 150px;
  height: 100%;
  font-weight: bold;
  text-align: center;
  float: right;
  position: relative;

  li {
    padding: 15px 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    transition-duration: 1s;

    &:hover {
      color: #1c292a;
      background-color: #fff;
    }
  }
}