#projects {
  width: 100%;
  padding-bottom: 100px;
  background-color: #f0f0f0;
  z-index: 2;
  display: inline-block;
  position: relative;

  .project-container {
    width: 26%;
    min-width: 330px;
    height: 500px;
    margin: 10px 3.6%;
    float: left;
    text-align: center;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    .image {
      width: 100%;
      height: 60%;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition-duration: 2s;
    }

    &:hover .image {
      height: 100%;
      transition-duration: 0.6s;
    }

    .description {
      bottom: 0;
      width: 100%;
      height: 40%;
      padding: 0 5%;
      background-color: rgba(255, 255, 255, 1);
      transition-duration: 1s;
      box-sizing: border-box;
      position: absolute;

      h3 {
        margin-top: 20px;
      }

      button {
        bottom: 0;
        width: 150px;
        height: 50px;
        margin: 10px auto;
        font-size: 1.1em;
        font-weight: bold;
        opacity: 0;
        transition-duration: 1s;
        box-sizing: border-box;
        display: block;
        position: relative;
      }

      .button-primary {
        color: #fff;
        background-color: #7e29f8;
        border: none;
        border-radius: 10px;
      }
      
      .button-secondary {
        color: #7e29f8;
        background-color: rgba(0,0,0,0);
        border: 3px solid #7e29f8;
        border-radius: 10px;
      }
    }

    &:hover .description {
      height: 100%;
      padding: 20% 10%;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: rgba(255, 255, 255, 0.85);
      transition-duration: 0.7s;

      h3 {
        margin-top: 2%;
        font-size: 1.5em;
        transition-duration: 0.7s;
      }

      p {
        padding: 15px 0;
        font-size: 1em;
        transition-duration: 0.7s;
      }

      button {
        opacity: 1;
        transition-duration: 0.7s;
        cursor: pointer;
      }
    }
  }

  #project-1 {
    .image {
      background-image: url(../../images/project1.png);
    }
  }

  #project-2 {
    .image {
      background: url(../../images/project2.png);  
    }
  }

  #project-3 {
    .image {
      background: url(../../images/project3.png); 
    }
  }

  .anchor-bottom {
    bottom: 60px;
    width: 50%;
    text-align: center;
    position: absolute;
  }
}

@media only screen and (max-width: 1444px) {
  .project {
    width: 42.8% !important;
  }
}

@media only screen and (max-width: 886px) {
  .project {
    width: 92.4% !important;
    min-width: 0 !important;
  }
}